@import url("./styles/header.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #333333, #000000);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contacts_main {
    flex: 1;
    /* Заставляем контент занимать всё оставшееся пространство */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}





.insta {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    order: 2;
}

.tiktok {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    order: 1;
}

.phone_block {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    order: 3;
}

.nomer_telefona {
    text-decoration: underline;
    text-decoration-color: #ff8c00;

}


.custom_link {
    color: #ff8c00;
}




footer {
    background-color: #ff8c00;
    text-align: center;
    padding: 10px 0;
    color: white;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .contacts_main {
        padding: 10px;
    }
}